/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.block-language-cxw {
	overflow-x: scroll;
}

.cxw-grid {
	border-collapse: collapse;
}

td.cxw-cell {
	background: white;
	border: 1px solid black;
	height: 2.5em;
	min-height: 2.5em;
	max-height: 2.5em;
	width: 2.5em;
	min-width: 2.5em;
	max-width: 2.5em;
	padding: 0;
	position: relative;
	font-size: min(1em, (100vmin - 5em) / 38);
	overflow: visible !important;
}

td.cxw-block {
	background: black !important;
}

.cxw-number {
	font-size: 0.75em;
	position: absolute;
	top: 0.25em;
	left: 0.25em;
}

.cxw-letter {
	font-size: 1.5em;
	position: absolute;
	top: 0.25em;
	left: 0.25em;
	right: 0.25em;
	text-align: center;
}

.cxw-clue-list-title { }

.cxw-clue {
	display: flex;
	margin-inline-start: 0 !important;
}

.cxw-clue-number {
	flex: 3em 0 0;
}

.cxw-clue-text {
	flex: 5em 1 0;
}

.cxw-clue-body { }
.cxw-clue-body p { display: inline; }
.cxw-clue-format { }

.cxw-clue-citation {
	font-size: 0.75em;
	color: #444;
}

.cxw-warning {
	margin: 0.5em 0;
	padding: 1em;
	background: #ff8;
}

.cxw-clue-no-clue {
	font-style: italic;
}

.cxw-follows-across-bar {
	box-shadow: -0.1em 0 0 0 inset black;
}
.cxw-follows-down-bar {
	box-shadow: 0 -0.1em 0 0 inset black;
}
.cxw-follows-across-hyphen::after {
	content: '';
	background: black;
	position: absolute;
	top: 1.25em;
	left: 2.3em;
	width: 0.4em;
	height: 1px;
	z-index: 1000;
}
.cxw-follows-down-hyphen::after {
	content: '';
	background: black;
	position: absolute;
	top: 2.3em;
	left: 1.25em;
	width: 1px;
	height: 0.4em;
	z-index: 1000;
}

.cxw-highlight {
	background: #cdf !important;
}
